body {
  margin: 0;
  font-family: monospace;
  background: radial-gradient(circle, #020202, #000814);
  color: #00ff9f;
  text-align: center;
}

/* LOGIN */
#login {
  padding: 40px 20px;
}

input {
  width: 90%;
  padding: 15px;
  margin: 10px;
  background: #000;
  border: 1px solid #00ff9f;
  color: #00ff9f;
}

/* BOTÕES */
button {
  width: 90%;
  padding: 15px;
  margin-top: 10px;
  background: transparent;
  border: 1px solid #00ff9f;
  color: #00ff9f;
}

/* APP */
.hidden {
  display: none;
}

header {
  padding: 20px;
}

.online {
  color: lime;
}

/* CARDS */
.card {
  margin: 15px;
  padding: 20px;
  border: 1px solid #00ff9f;
}

/* SINAL */
.signal {
  font-size: 22px;
}

/* HISTÓRICO */
#lista span {
  font-size: 28px;
  margin: 5px;
}

/* BOTÕES PEQUENOS */
.btns button {
  width: 60px;
}

/* ANALISAR */
.analisar {
  border: 2px solid #00ff9f;
  animation: pulse 1s infinite;
}

/* CONTROLE */
.win {
  border-color: lime;
}

.loss {
  border-color: red;
}

/* LOADING */
#loading {
  margin-top: 20px;
}

/* ANIMAÇÃO */
@keyframes pulse {
  0% {opacity: 0.3;}
  50% {opacity: 1;}
  100% {opacity: 0.3;}
}
